* {
    box-sizing: border-box !important;
}

:root {
    --mainColor: #183f72;
    --secondaryColor: #00a1cd;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}





.myContainer {
    width: 90%;
    margin: auto;
    font-weight: 500;
}


.mainButton,
.secondaryButton {
    color: white;
    padding: 17px 50px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: -3px;
    left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: -3px;
    right: auto;
}

.mainButton {
    background-color: var(--mainColor);
}

.secondaryButton {
    background-color: var(--secondaryColor);
}



.upperNav {
    display: flex;
    background-color: re;
    /* color: white; */
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    padding: 0;
}

.left {
    background-color: seageen;
    display: flex;
    align-items: center;
    padding: 13px 0;
    border-bottom: 1px solid #f0f0f0;
    flex-grow: 2;

}

.upperNav .mainButton {
    margin-left: 20px;
}


.left p {
    margin-bottom: 0;
}

.upperNav .left ul {
    list-style-type: none;
    display: flex;
    /* background-color: sandybrown; */
    align-items: center;
    margin-bottom: 0;
    margin-right: 30px;
    padding-left: 0;
}

.upperNav ul li {
    margin-right: 27px;
}

nav img {
    height: 65px;
    width: 85px;
}

.logo {
    width: 40%;
}



.navContainer {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
    background-color: #fff;
    transition: all 0.5s;

}


nav ul {
    display: flex;
    justify-content: space-evenly;
    /* background-color: chocolate; */
    width: 100%;
}

nav ul li {
    font-size: 16px;
    font-weight: 800;
    color: red;
}


nav ul li a.active {
    background-color: var(--secondaryColor);
    color: #000;
    border-radius: 5px;
}

nav ul li.nav-item:hover:not(:last-child) {}

.nav-item:nth-last-of-type(1) {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 0;
}

.nav-item:nth-last-of-type(1) i {
    font-size: 35px;
    margin-right: 10px;
    color: var(--secondaryColor);
}

.nav-item:nth-last-of-type(1) p {
    color: #777;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-item:nth-last-of-type(1) h6 {
    color: var(--secondaryColor);
    font-size: 20px;
}

nav .navLogo {
    /* width: 100%; */
    /* background-color: salmon; */
}


#my-sec {
    background-image: url('../../assets/images/Active4webBg.webp');
    /* height: 125vh; */
    background-color: rgba(0, 0, 0, 0.8);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
    padding-top: 230px;
}


#my-sec svg {
    bottom: -2px;
    position: absolute;
}

#my-sec .row .col-lg-7 {
    position: relative;
    z-index: 555;
}

#my-sec h1 {
    font-size: 40.5px;
    font-weight: bold;
    color: #fff;
}

#my-sec h6 {
    margin-block: 20px;
    font-size: 22px;
    font-weight: 300;
    color: white;
}

#my-sec h1 span {
    padding: 0 3px;
    animation-duration: 2s;

    position: relative;
    z-index: 1;
}

#my-sec h1 span::after {
    content: '';
    background-color: var(--secondaryColor);
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 1s;
    animation: slide 2s both;
    animation-delay: 3s;
}

#my-sec .rightSide {
    position: relative;
    z-index: 5555;
    /* color: salmon; */
}



#my-sec .rightSide h5 {
    font-size: 16px;

}

#my-sec .rightSide h2 {
    font-size: 32px;
    font-weight: 700;

}

#my-sec .rightSide .col-6:nth-child(1),
#my-sec .rightSide .col-6:nth-child(3) {
    text-align: end;
}

#my-sec .row:nth-child(2) .floatingForm {
    /* background-color: salmon; */
    position: relative;
    z-index: 555;
}



form {
    background-color: white;
    display: block;
    padding: 45px;
    border-radius: 10px;
    position: relative;
    z-index: 55555;
    width: 85%;
    margin: 90px 0;
    box-shadow: 1px 2px 30px -12px;
    position: relative;
}

form input {
    display: block;

    width: 100%;
    padding: 15px;
    border-radius: 11px;
    border: none;
    background-color: #f5f4f4;
}

form h2 {
    color: #183f72;
    font-weight: 700;
}


#sec-1 {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
}

#sec-1 .myContainer {
    /* padding-top: 70px; */
}

/* 
#sec-1 .row:nth-of-type(1) {
    padding-block: 50px;
} */

#sec-1 .row {
    /* width: 95%; */
    margin: auto;
    overflow: hidden;
}

#sec-1 h2 {
    font-size: 27px;
    font-weight: 900;
    color: var(--mainColor);
}

#sec-1 h4 {
    color: #00a1cd;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
}

#sec-1 .col-lg-3 {
    padding-bottom: 25px;
}

/* #sec-1 .col-lg-3 i {
    font-size: 16px;
} */

/* #sec-1 span {
    font-size: 20px;
    font-weight: 700;
} */

#sec-1 .col-lg-7 img {
    border-radius: 50%;
}

#sec-1 .col-lg-7 img {
    width: 532px;
    height: 533px;
}

.imgsWrapper {
    position: relative;
    /* background-color: salmon; */
    text-align: center;
}


.imgsWrapper .innerImage {
    background-image: url('../../assets/images/generic-1.jpg');
    position: absolute;
    left: 10px;
    top: 49px;
    height: 457px;
    width: 457px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;

}

#sec-2 {
    position: relative;
    background-color: #f2f2f2;
    /* padding-top: 200px; */
    padding-bottom: 50px;
    overflow: hidden;

}

#sec-2 h3 {
    position: relative;
    color: var(--secondaryColor);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
}

#sec-2 h2 {
    color: var(--mainColor);
    font-weight: 800;
}

#sec-2 .content p {
    color: #777777;
}

#sec-2 .cardBody p {
    color: #777777;
}

#sec-2 .cardBody a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

.lineBox {
    /* background-color: sandybrown; */
    display: flex;
    align-items: center;
}

.Blue-line {
    background-color: #00a1cd;
    width: 50px;
    height: 5px;
    margin-right: 20px;
    margin-top: 10px;
}

#sec-2 .row {
    overflow: hidden;
}



#sec-5 {
    overflow-x: hidden;
}

#sec-6 {
    overflow: hidden;
}



/* #sec-9 {
    overflow: hidden;
} */

/* #sec-10 {
    overflow: hidden;
} */

/* #sec-11 {
    overflow: hidden;
} */


#sec-2 .svgWrapper img {

    width: 100%;
}

#sec-2 .svgWrapper .topSvg {
    position: absolute;
    top: -48%;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgba(136, 136, 22, 0.2); */
    height: 54%;
}

#sec-2 .svgWrapper .bottomSvg {
    rotate: -180deg;

    position: absolute;
    bottom: -39%;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgba(136, 136, 22, 0.2); */
    height: 46%;
}




#sec-2 .content {
    display: flex;
    justify-content: space-between;
    /* background-color: salmon; */
}

#sec-2 h2 {
    margin-block: 15px;
}

#sec-2 .content .btnBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    /* background-color: seagreen; */
}

#sec-2 .cusotmCard {
    padding: 25px;
    background-color: white;
    /* height: 90%; */
    margin: auto;
}



/* Wrapper to position both elements */
.circle-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
}

/* Background circle */
.circle-bg {
    position: absolute;
    top: 6px;
    left: -6px;
    width: 100%;
    height: 100%;
    background-color: #00a1cd;
    /* Change this to your desired color */
    border-radius: 50%;
    z-index: 1;
    /* Ensure it's behind the image */
}

/* Circle image */
.circle-img {
    position: relative;
    /* So it can move on hover */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 2;
    /* Ensure it's on top of the background */
    transition: all 0.2s linear;
    /* Smooth transition for left and top */
    /* Smooth transition */
    left: 0;
    /* Initial value for left */
    top: 0;
    /* Initial value for top */
}

/* Hover effect to move the image */
.cusotmCard:hover .circle-img {
    top: 6px;
    left: -6px;
}

#sec-2 .cusotmCard:hover .cardBody h3 {
    color: var(--secondaryColor);
}

.cusotmCard:hover {
    outline: 2px solid #00a1cd;
    cursor: pointer;
    margin: -2px;
    /* Compensate for the added border */
}


#sec-3 {
    background-image: url('../../assets/images/cleaning.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 64, 160);
    color: white;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative;
    z-index: 55555; */
    padding-block: 150px;
}

#sec-3 .row {
    position: relative;
    z-index: 22;
}

#sec-3 .row h1 span {
    /* background-color: black; */
    padding: 0 3px;
    animation-duration: 2s;

    position: relative;
    z-index: 1;
    display: inline-block;
}

#sec-3 .row h1 span::after {
    content: '';
    background-color: black;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 1s;
    animation: slide 2s both;
    animation-delay: 3s;
}

#sec-3 p {
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
}

#sec-3 .mainButton {
    text-align: end;
}

#sec-4 {
    padding-block: 100px;
    position: relative;
    background-color: #f2f2f2;
    /* overflow: hidden; */
}

#sec-4 .row h5 {
    color: var(--secondaryColor);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

#sec-4 .row h4 {
    color: var(--mainColor);
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#sec-4 .row p {
    color: #777;
}

#sec-4 .col-lg-6 img {
    border-radius: 50%;
}

#sec-4 .row {
    justify-content: center;
    align-items: end;
    overflow: hidden;
}

#sec-4 .accordionn {
    padding: 0;
}

#sec-4 .accordionn li {
    list-style-type: none;
    margin-block: 20px;
    padding: 10px;
    background-color: white;

    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.2), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

#sec-4 .accordionn li label {
    display: flex;
    align-items: center;
    /* padding: 10px; */
    padding-block: 10px;
    font-size: 18px;
    font-weight: 5000;
    cursor: pointer;
    position: relative;
}

#sec-4 .accordionn li label::before {
    content: '+';
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: transform 0.5s;
    position: absolute;

    right: 0;
    top: 5px;
}

#sec-4 .accordionn input[type="checkbox"]:checked+label::before {
    /* content: ''; */
    transform: rotate(45deg);
}

input[type="checkbox"] {
    display: none;
}

#sec-4 .accordionn .content {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
}


#sec-4 .accordionn input[type="checkbox"]:checked+label+.content {
    max-height: 400px;
    padding: 10px 10px 20px;
}


#sec-4 .col-md-6 img {
    width: 80%;
    height: 80%;
}


#sec-4 .svgWrapper .topSvg {
    position: absolute;
    top: -35%;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgba(136, 136, 22, 0.2); */
    height: 46%;
}

#sec-4 .svgWrapper .bottomSvg {

    rotate: -180deg;
    position: absolute;
    bottom: -33%;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgba(136, 136, 22, 0.2); */
    height: 40%;

}

#sec-5 {
    padding-block: 150px;
    text-align: center;
    background-color: white;
}

#sec-5 h1 {
    color: var(--mainColor);
    text-transform: capitalize;
    font-weight: 700;
}

#sec-5 h6 {
    color: #777;
    margin-block: 15px;
    font-size: 18px;
}

#sec-5 p {
    color: #777;
    font-size: 16;
}

#sec-5 .row:nth-child(2) {
    /* background-color: salmon; */
    margin-top: 50px;
}

#sec-5 .row:nth-child(2) h4 {
    margin-block: 15px;
    font-weight: 700;
    text-transform: capitalize;
}

#sec-5 .row:nth-child(2) .icon {
    background-color: #183f72;
    width: 28%;
    padding: 31px;
    margin: auto;
    border-radius: 50%;
}

#sec-5 .row:nth-child(2) .icon i {
    font-size: 40px;
    color: white;

}

#sec-6 {
    padding-block: 35px;
    background-color: #f2f2f2;
    position: relative;
}

#sec-6 h3 {
    color: var(--secondaryColor);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

#sec-6 h2 {
    color: var(--mainColor);
    font-weight: 800;
}

#sec-6 .content {
    display: flex;
}

#sec-6 .content p {
    color: #777;
}

#sec-6 .row:nth-child(2) img {
    /* background-color: salmon; */
    position: relative;

}

#sec-6 .row .imgWrapper {
    position: relative;
}

#sec-6 .row .imgWrapper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    z-index: 55;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
    text-transform: capitalize;
    text-align: center;
}

#sec-6 .row .imgWrapper .overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 1;
}

/* #sec-7 #sec-6 .content {
    display: flex;
    justify-content: space-between;
    background-color: salmon;
} */

#sec-6 h2 {
    margin-block: 15px;
}

#sec-6 .row {
    overflow: hidden;
}

#sec-6 .content .btnBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    /* background-color: seagreen; */
}

#sec-6 .topSvg {
    position: absolute;
    top: -44%;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgba(136, 136, 22, 0.2); */
    height: 54%;
}

#sec-6 .bottomSvg {
    rotate: -180deg;
    position: absolute;
    bottom: -44%;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgba(136, 136, 22, 0.2); */
    height: 54%;
}


#sec-7 .bottomSvg {
    rotate: -180deg;
    position: absolute;
    bottom: -44%;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgba(136, 136, 22, 0.2); */
    height: 54%;

}

#sec-7 {
    padding-block: 70px;
    background-color: white;
    position: relative;
}

#sec-7 h1 {
    color: var(--mainColor);
    text-transform: capitalize;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

#sec-7 h5 {
    color: #777;
    text-align: center;
    font-size: 18px;
    margin-block: 30px;
}

#sec-7 .swiper {
    padding: 5px;
}

#sec-7 .swiper .cusotmCard {
    background-color: #f2f2f2;
    padding: 40px 20px;
}

#sec-7 .swiper .cusotmCard .cardBody h3 {
    color: var(--mainColor);
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 20px;
    font-size: 26px;
}

#sec-7 .swiper .cusotmCard .cardBody h6 {
    color: #777;
    font-weight: 300;
    margin-bottom: 20px;
}

#sec-7 .swiper .cusotmCard .circle-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto;
}

#sec-7 .socialsBox {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

#sec-7 .socialsBox span {
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec-8 {
    padding-block: 100px 80px;
    background-color: #0281d7;
    color: white;
}

#sec-8 h1 {
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: 800;
}

#sec-8 p {
    color: #f2f2f2;
    font-size: 14px;
}

#sec-8 .textBox {
    background-color: white;
    color: #777777;
    padding: 30px 15px;
    border-radius: 20px;
}

#sec-8 .personBox {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

#sec-8 .personBox img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-right: 15px;
}

#sec-8 .col-md-8 {
    position: relative;
}


#sec-8 .col-md-8 .swiper-pagination {
    position: absolute;
    bottom: -34px;
    left: -42%;
}

#sec-8 .col-md-8 .swiper-pagination-bullet-active {
    background-color: white;
}


#sec-9 {
    padding-block: 70px;
    text-align: center;
    background-color: #f2f2f2;
    position: relative;

}

#sec-9 .bottomSvg {
    /* rotate: -180deg; */
    position: absolute;
    top: -37%;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgba(136, 136, 22, 0.2); */
    height: 45%;
}

/* #sec-9 .topSvg {
    rotate: -180deg;
    position: absolute;
    bottom: -37%;
    width: 100%;
    left: 0;
    right: 0;
    height: 45%;
} */

#sec-9 h1 {
    color: var(--mainColor);
    font-weight: 700;
    margin-bottom: 20px;
}

#sec-9 .swiper-slide div {
    background-color: white;
    padding: 40px 20px;
}

#sec-9 .swiper-slide div p {
    padding-block: 8px;
}

#sec-9 .swiper-slide h4 {
    color: var(--secondaryColor);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

#sec-9 .mainButton {
    margin-top: 25px;
}


#sec-10 {
    background-image: url('../../assets/images/background-3.jpg');
    padding-block: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    position: relative;
}

#sec-10 .topSvg {

    rotate: -180deg;
    position: absolute;
    top: -25%;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgba(136, 136, 22, 0.2); */
    height: 89%;
}

#sec-10 .bottomSvg {

    /* rotate: -180deg; */
    position: absolute;
    bottom: -25%;
    width: 100%;
    left: 0;
    right: 0;
    /* background-color: rgba(136, 136, 22, 0.2); */
    height: 89%;

}

#sec-10 .myContainer .content {
    text-align: center;
    color: white;
}

#sec-10 h1 {
    text-transform: uppercase;
}

#sec-10 h1 span {
    /* background-color: black; */
    padding: 0 3px;
    animation-duration: 2s;

    position: relative;
    z-index: 1;
}

#sec-10 h1 span::after {
    content: '';
    background-color: var(--secondaryColor);
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 1s;
    animation: slide 2s both;
    animation-delay: 3s;
}


#sec-10 .myContainer .content h6 {
    margin-block: 20px;
}

#sec-11 {
    padding-block: 70px;
    background-color: #f2f2f2;
    margin-bottom: 0;
    position: relative;
    z-index: 5;
}

#sec-11 .content {
    display: flex;
    justify-content: space-between;
    /* background-color: salmon; */
    overflow: hidden;
}

#sec-11 h2 {
    margin-block: 15px;
    text-transform: capitalize;
    color: var(--mainColor);
    font-weight: 800;
}

#sec-11 h3 {
    color: var(--secondaryColor);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}


#sec-11 .content .btnBox {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    width: 40%;
    text-align: end;
}

#sec-11 .row:nth-child(2) {
    /* background-color: sienna; */
    margin-top: 20px;
}

#sec-11 .row:nth-child(2) a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
}

#sec-11 .col-md-4:nth-last-of-type(1) .card .row:nth-child(2) {
    /* background-color: seagreen; */
    padding-bottom: 25px;
    border-bottom: 1px solid #c0c0c0;

}


#sec-11 .card {
    padding: 15px;
    border: none;
    background-color: white;
}

#sec-11 img {
    display: block;
}

#sec-11 .row .col-md-4:nth-child(1) img,
#sec-11 .row .col-md-4:nth-child(2) img {
    margin-bottom: 20px;
}

#sec-11 ul.interactions {
    /* background-color: salmon; */
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    /* padding: 10px 20px; */
    color: #777;
    padding-left: 0;
}

#sec-11 ul.interactions li {
    font-size: 12px;
}

#sec-11 ul.interactions li:nth-child(2) {
    border-left: 1px solid #777777;
    padding: 0 20px;
    border-right: 1px solid #777777;
}

#sec-11 h5 {
    margin-bottom: 20px;
    font-weight: 700;
}

.hidden {
    /* display: none; */
    opacity: 0;
    transition: all 2s;
}

.show {
    /* display: block; */
    opacity: 1;
}

footer {
    background-color: var(--mainColor);
    /* height: 500px; */
    /* background-attachment: scroll; */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    z-index: -10;
    padding-block: 70px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer h4 {
    color: white;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

footer ul li {
    padding: 7px 0;
    color: #a3b2c7;
}

footer small {
    color: #a3b2c7;
}

footer ul li.socials {
    width: 60%;
    /* background-color: salmon; */
    display: flex;
    justify-content: space-evenly;
}

footer .row:nth-child(2) {
    border-top: 1px solid #1f4576;
    padding-top: 30px;
}

footer .row:nth-child(2) img {
    width: 130px;
    height: 85px;
}

#btnUp {
    color: white;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    background-color: #0281d7;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    z-index: 55555555;
}


@keyframes slide {
    100% {
        width: 100%;
    }
}